
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

h5{
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
}

h6{
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
}

p{
    font-size: 14px;
    color: grey;
}


